<h2>{{title}}</h2>
<div>
  <form action="">
    <p>プロダクト名:<p><input type="text" size="80" /></p></p>
    <p>
      URL(リポジトリ等):<p><input type="text" size="80" name="productURL" /></p>
    </p>
    <p>
      概要:<p><textarea cols="80" rows="10"></textarea></p>
    </p>

    <p>
      継続:<input type="radio" name="continue" value="true"/>継続中 <input type="radio" name="continue" value="false">中止
    </p>
    <p>
      募集:
      <input type="radio" name="wanted" value="programmer"/>プログラマ 
      <input type="radio" name="wanted" value="designer" />デザイナ
      <input type="radio" name="wanted" value="runner" />運営
    </p>
    <p>
      <input type="button" value="登録" />
    </p>
  </form>
</div>
